{% extends 'students/base.html' %}
{% block content %}
   <!DOCTYPE html>
<html>
<head>
    <title>Attendance Report</title>
</head>
<body>
    <h1>Attendance Report</h1>
    <h3>Date: {{ today }}</h3>

    <table border="1">
        <tr>
            <th>Student Name</th>
            <th>Class</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.student.name }}</td>
            <td>{{ record.student.class_name }}</td>
            <td>{{ record.time }}</td>
            <td>{{ record.status }}</td>
        </tr>
        {% empty %}
            <tr><td colspan="4">No attendance records for today</td></tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}